.card1{
    /* background-color: red; */
    margin-left: 60%;
}

.form1{
    padding-top: 120px;
    padding-left: 70%;
    margin-right: 5%;
}

.card1{
    height: fit-content;
}

.profile-car-image{
    margin-top: -15%;
    /* margin-right: 10%; */
    margin-left: -8%;
}

.profile-car-image {
    position: relative;
    overflow:visible;
    width: 75%; 
    height: 100%;
} 

/* Define the image */
.profile-car-image img {
    display:block;
    transition: transform 0.5s ease; /* Transition property for smooth movement */
}

/* Define the hover effect */
.profile-car-image:hover img {
    /* transform: translateX(20px);  */
    transform: translate(4ch,8mm);
}

.car-card{
    width: 90%;
    border-radius: 5%;
    transition: 0.5s;  
}

.car-card:hover{
   transform: translateY(-10px);
}

.admin-portal{
    background-color: aqua;
}

.get-vehicles{
    margin-left: -10px !important;
    border: 2px solid rgb(80, 77, 77);
    border-radius: 10px;
}